@import url('/charac.css');

body
{
	font-family: 			'Open Sans', Tahoma, Helvetica, Arial, sans-serif;
	font-size: 				14px;
	margin: 				0px;
	border: 				0px;
	padding: 				0px;
}

h3
{
	margin: 				0px;
	margin-top:	 			1px;
	margin-bottom: 			2px;
	border: 				0px;
	padding: 				0px;
	line-height: 			14px;
	color: 					rgb(132, 134, 138)
	font-size: 				20px;
	font-weight: 			normal;
	font-family: 			'Roboto', 'Roboto Mono', Tahoma, Helvetica, Arial, sans-serif;
}
td
{
	border: 				0px;
	padding: 				5px;
	padding-right: 			1px;

	font-size: 				14px;
	font-family: 			'Open Sans', Tahoma, Helvetica, Arial, sans-serif;
}
.td1
{
	width: 					30%;
	font-family: 			'Roboto', 'Roboto Mono', Tahoma, Helvetica, Arial, sans-serif;
	font-size: 				15px;
}

.td2
{
	width: 					70%;
	font-family: 			'Open Sans', Tahoma, Helvetica, Arial, sans-serif;
	font-size: 				13px;
}
.td2 span
{
	padding: 				4px;
}

tr:hover
{
	background-color: 		rgb(50, 60, 74);
}

select
{
	background-color: 		rgb(50, 52, 56);
	font-size: 				14px;
	font-family: 			'Roboto',Tahoma, Helvetica, Arial, sans-serif;
	color: 					rgb(132, 134, 138);
	padding:				3px;
	border:					1px;
	border-style: 			solid;
	border-color: 			rgb(50, 52, 56);
}

tr select:focus
{
	outline: 				none;
	background-color: 		rgb(50, 60, 74);
	border-color: 			rgba(202,133,21,0.6);
}

tr:hover select:focus
{
	outline:				none;
	border-color: 			rgba(202,133,21,0.6);
}

select:hover, tr:hover select:hover
{
	border-color: 			rgba(202,133,21,0.6);
}

tr:hover select
{
	background-color: 		rgb(50, 60, 74);
	border-color: 			rgb(50, 60, 74);
}

table
{
	font-size: 				13px;
	width: 					100%;
	border-collapse: 		collapse;
}

progress
{
	width: 					100%;
	padding: 				0px;
	border:					0px;
	background-color: 		rgb(38, 40, 44);
}

::-webkit-progress-bar
{
	background-color: 		rgb(202,133,21);
}

::-moz-progress-bar
{
	background-color: 		rgb(202,96,51);
}

.txtInput
{
	background-color: 		rgb(50, 52, 56);
	border: 				1px;
	border-style: 			solid;
	border-color: 			rgb(102, 104, 108);
	padding: 				3px;
	font-size: 				13px;
	font-family: 			'Open Sans', Tahoma, Helvetica, Arial, sans-serif;
	color: 					rgb(132, 134, 138);
}

.txtInput:focus
{
	outline: 				none;
	color: 					rgb(132, 134, 138);
}

tr:hover .td2 .txtInput
{
	outline: 				none;
	border-color: 			rgba(202,133,21,0.6);
}

.terminalOutput span
{
	font-size: 				13px;
	font-family: 			'Open Sans',Tahoma, Helvetica, Arial, sans-serif;
	color: 					rgb(132, 134, 138);
	font-weight: 			500;
}

::-webkit-scrollbar {
    width: 					6px;
}

::-webkit-scrollbar-track-piece {
    -webkit-border-radius: 	0;
    background-color: 		rgba(0, 0, 0, 0);
    
}

.terminalOutput::-webkit-scrollbar-track-piece {
    -webkit-border-radius: 	0;
    background-color: 		rgba(0, 0, 0, 0);
    margin-bottom: 			4px;  
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 	0;
    background-color: 		rgb(202,96,51);
}

.menu
{
	background-color: 		rgb(42, 44, 48);
	color: 					rgb(253, 253, 253);
	font-family: 			'Roboto', 'Roboto Mono', Tahoma, Helvetica, Arial, sans-serif;
	font-size: 				15px;
	position: 				absolute;
	left: 					0px;
	top:  					0px;
	bottom:  				0px;
	width: 					260px;
	overflow: 				auto;
}

.info
{
	background-color: 		rgb(22, 24, 28);
	font-family: 			'Open Sans', Tahoma, Helvetica, Arial, sans-serif;
	margin: 				0px;
	border: 				0px;
	padding: 				0px;
	position: 				absolute;
	top:					0px;
	bottom:  				0px;
	left:  					260px;
	right: 					0px;
	overflow: 				auto;
	color: 					rgb(150, 154, 160);
}

.info2
{
	margin: 				0px;
	margin-top: 			30px;
	border: 				0px;
	padding: 				0px;
	padding-left: 			15px;
	padding-right: 			15px;
}

.info3
{
	background-color: 		rgb(50, 52, 56);
	margin: 				0px;
	margin-bottom: 			5px;
	border: 				1px;
	border-style: 			solid;
	border-color: 			rgb(72, 74, 78);
}

.infoTitre
{
	background-color: 		rgb(42, 44, 48);
	margin: 				0px;
	border: 				0px;
	border-bottom: 			1px;
	border-color: 			rgb(32, 34, 38);
	border-style: 			solid;
	padding: 				10px;
	padding-left: 			15px;
	padding-right: 			15px;
	font-size: 				20px;
	font-family: 			'Roboto', Tahoma, Helvetica, Arial, sans-serif;
}

.infoBody
{
	margin: 				0px;
	border:					0px;
	padding: 				15px;

}

.terminal
{
	background-color: 		rgb(30, 32, 36);
	margin: 				0px;
	border: 				1px;
	border-color: 			rgb(72, 74, 78);
	border-style: 			solid;
	padding: 				3px;
	font-size: 				15px;
	color: 					rgb(150, 154, 160);
}

.terminalOutput
{
	margin: 				0px;
	margin-bottom: 			0px;
	border: 				0px;
	border-bottom: 			1px;
	border-color: 			rgb(202,96,51);
	border-style: 			solid;
	padding: 				0px;
	min-height: 			300px;
	max-height: 			300px;
	font-family: 			'Open Sans', Tahoma, Helvetica, Arial, sans-serif;
	font-size: 				15px;
	overflow: 				auto;
}

.terminalInput
{
	margin: 				3px;
	margin-bottom: 			0px;
	border: 				0px;
	padding: 				0px;
	display: 				block;
}

.terminalInput2
{
	margin: 				0px;
	border: 				0px;
	padding: 				3px;
	background-color: 		rgb(28, 30, 34);
	display:		 		block;
	font-size: 				15px;
	width: 					100%;
	color: 					rgb(150, 154, 160);
	transform: 				translateX(-4px);
	font-family: 			'Open Sans', Tahoma, Helvetica, Arial, sans-serif;
}

.terminalInput2:focus
{
	outline: 				none;
}