/*
    This file is part of egg-force-one.

    egg-force-one is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Foobar is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with egg-force-one.  If not, see <http://www.gnu.org/licenses/>. 2

    ############################################################################

    Created on Mon Sep 25 16:24:39 2017
    @author: CASAL Guillaume
*/

/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(/font/K88pR3goAWT7BTt32Z01mxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(/font/RjgO7rYTmqiVp7vzi-Q5URJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(/font/LWCjsQkB6EMdfHrEVqA1KRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(/font/xozscpT2726on7jbcb_pAhJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(/font/59ZRklaO5bWGqF5A9baEERJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(/font/u-WUoqrET9fUeobQW7jkRRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(/font/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(/font/ek4gzZ-GeXAPcSbHtCeQI_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(/font/mErvLBYg_cXG3rLvUsKT_fesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(/font/-2n2p-_Y08sg57CNWQfKNvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(/font/u0TOpm082MNkS5K0Q4rhqvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(/font/NdF9MtnOpLzo-noMoG0miPesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(/font/Fcx7Wwv8OzT71A3E1XOAjvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(/font/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body
{
	font-family: 			'Open Sans', Tahoma, Helvetica, Arial, sans-serif;
	color: 					rgb(132, 134, 138);
	font-size: 				14px;
	margin: 				0px;
	border: 				0px;
	padding: 				0px;
}

h3
{
	display: inline-block;
	margin: 				0px;
	padding: 				0px;
	padding-top:	 		1px;
	padding-bottom: 		2px;
	border: 				0px;
	line-height: 			14px;
	color: 					rgb(132, 134, 138);
	font-size: 				20px;
	font-weight: 			normal;
	font-family: 			'Roboto', 'Roboto Mono', Tahoma, Helvetica, Arial, sans-serif;
}

.none
{
	display: none;
}
.openClose
{
	position: 				absolute;
	border: 				1px;
    border-style: 			solid;
    border-color: 			rgb(72, 74, 78);
	right: 					16px;
	top: 					5px;
	height: 				32px;
	width: 					40px;
	background-color: 		rgb(30, 32, 36);
}
td
{
	border: 				0px;
	padding: 				5px;
	padding-right: 			1px;

	font-size: 				14px;
	font-family: 			'Open Sans', Tahoma, Helvetica, Arial, sans-serif;
}
.td1
{
	width: 					30%;
	font-family: 			'Roboto', 'Roboto Mono', Tahoma, Helvetica, Arial, sans-serif;
	font-size: 				17px;
}

.td2
{
	width: 					70%;
	font-family: 			'Open Sans', Tahoma, Helvetica, Arial, sans-serif;
	font-size: 				16px;
}

.td2 span
{
	padding: 				4px;
}

tr
{
	-webkit-transition-duration: 0s; /* Safari */
    transition-duration: 	0s;
}

tr:hover
{
	background-color: 		rgb(50, 60, 74);
	-webkit-transition-duration: 0s; /* Safari */
    transition-duration: 	0s;
}

tr:focus
{
	background-color: 		rgb(100, 100, 100);

	-webkit-transition-duration: 0s; /* Safari */
    transition-duration: 0s;
}

select
{
	background-color: 		rgb(38, 40, 44);
	font-size: 				14px;
	font-family: 			'Roboto',Tahoma, Helvetica, Arial, sans-serif;
	color: 					rgb(132, 134, 138);
	padding:				3px;
	border:					1px;
	border-style: 			solid;
	border-color: 			rgb(50, 52, 56);
}

tr select:focus
{
	outline: 				none;
}

select:hover, tr:hover select:hover
{
	border-color: 			rgba(202,133,21,0.6);
}

table
{
	font-size: 				13px;
	width: 					100%;
	border-collapse: 		collapse;
}

progress
{
	width: 					100%;
	padding: 				0px;
	border:					0px;
	background-color: 		rgb(38, 40, 44);
	color: 					rgb(202,96,51);
	-webkit-appearance: 	none;

    -webkit-transition : width 1s ease;
    -moz-transition : width 1s ease;
    -o-transition : width 1s ease;
    transition : width 1s ease;
}

progress::-webkit-progress-bar
{
	color: 					rgb(202,96,51);
	background-color: 		rgba(0,0,0,0);
}
progress::-webkit-progress-value
{
	color: 					rgb(202,96,51);
	background-color: 		rgb(202,96,51);
}

progress::-moz-progress-bar
{
	background-color: 		rgb(202,96,51);
}

progress:not([value])::-webkit-progress-bar
{
	background-color: 		rgba(0,0,0,0);
}

progress:not([value])::-moz-progress-bar
{
	background-color: 		rgba(0,0,0,0);
}

button, .button
{
	background-color: 		rgb(38, 40, 44);
	color: 					rgb(132, 134, 138);
	margin: 				4px;
	border: 				0px;
	padding: 				3px;
	padding-left: 			8px;
	padding-right: 			8px;
	font-size: 				14px;
	font-family: 			'Open Sans', Tahoma, Helvetica, Arial, sans-serif;
	text-align: 			center;
  	text-decoration: 		none;
  	outline: 				none;


	-webkit-transition-duration: 0s; /* Safari */
    transition-duration: 0s;
}

button:hover
{
	background-color: 		rgb(50, 60, 74);
}

button:active
{
	background-color:  		rgb(202,96,51);
	color:  				rgb(38, 40, 44);
}

.txtInput
{
	background-color: 		rgb(38, 40, 44);
	border: 				0px;
	border-style: 			solid;
	border-color: 			rgb(102, 104, 108);
	padding: 				3px;
	font-size: 				15px;
	font-family: 			'Open Sans', Tahoma, Helvetica, Arial, sans-serif;
	color: 					rgb(132, 134, 138);
}

.txtInput:focus
{
	outline: 				none;
	color: 					rgb(132, 134, 138);
}

tr:hover .td2 .txtInput
{
	outline: 				none;
	border-color: 			rgba(202,133,21,0.6);
}

.terminalOutput span
{
	font-size: 				15px;
	font-family: 			'Open Sans',Tahoma, Helvetica, Arial, sans-serif;
	color: 					rgb(132, 134, 138);
	font-weight: 			500;
}

::-webkit-scrollbar {
    width: 					6px;
    height:  				6px;
}

::-webkit-scrollbar-track-piece {
    -webkit-border-radius: 	0;
    background-color: 		rgba(0, 0, 0, 0);
    
}

.terminalOutput::-webkit-scrollbar-track-piece {
    -webkit-border-radius: 	0;
    background-color: 		rgba(0, 0, 0, 0);
    margin-bottom: 			4px;  
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 	0;
    background-color: 		rgb(202,96,51);
}

.menu
{
	position: 				fixed;
	left: 					0px;
	top: 					0px;
	max-height: 			100%;
	background-color: 		rgb(100, 100, 100);
	max-width: 				50%;
}

.menu2
{
	position: 				fixed;
	right: 					0px;
	top: 					0px;
	max-height: 			100%;
	background-color: 		rgb(100, 100, 100);
	max-width: 				50%;
}

.menuHome
{
	height: 				inherit;
	width: 					inherit;
	padding: 				6px;
	padding-left: 			12px;
	background-color: 		rgb(50, 52, 56);
	border: 				0px;
	border-right:			1px;
	border-bottom: 			1px;
	border-style: 			solid;
	border-color: 			rgb(72, 74, 78);
}

.menu2Home
{
	height: 				inherit;
	width: 					inherit;
	padding: 				6px;
	padding-left: 			12px;
	background-color: 		rgb(50, 52, 56);
	border: 				0px;
	border-left: 			1px;
	border-bottom: 			1px;
	border-style: 			solid;
	border-color: 			rgb(72, 74, 78);
}

.menuHomeArticle
{
	margin: 				10px;
	margin-left: 			0px;
	background-color: 		rgb(42, 44, 48);
	padding: 				5px;
	padding-left: 0px;
}

.menu2HomeArticle
{
	margin: 				10px;
	margin-left: 			0px;
	background-color: 		rgb(42, 44, 48);
	padding: 				5px;
	padding-left: 0px;
}

.menuOpenClose
{
	position: absolute;
	top: 					5px;
	right: 					-39px;
	background-color: 		rgb(30, 32, 36);
	margin: 				0px;
	border: 				1px;
	border-left: 			0px;
	border-style: 			solid;
    border-color: 			rgb(72, 74, 78);
    padding: 				0px;

    height: 				37px;
	width: 					40px;
}

.menu2OpenClose
{
	position: absolute;
	top: 					5px;
	left: 					-39px;
	background-color: 		rgb(30, 32, 36);
	margin: 				0px;
	border: 				1px;
	border-right: 			0px;
	border-style: 			solid;
    border-color: 			rgb(72, 74, 78);
    padding: 				0px;

    height: 				37px;
	width: 					40px;
}


.info
{
	background-color: 		rgb(22, 24, 28);
	font-family: 			'Open Sans', Tahoma, Helvetica, Arial, sans-serif;
	margin: 				0px;
	border: 				0px;
	padding: 				0px;
	position: 				absolute;
	top:					0px;
	bottom:  				0px;
	/*left:  					260px;*/
	left:  					0px;
	right: 					0px;
	overflow: 				auto;
	color: 					rgb(150, 154, 160);
}

.info2
{
	margin: 				0px;
	margin-top: 			30px;
	border: 				0px;
	padding: 				0px;
	padding-left: 			15px;
	padding-right: 			15px;
}

.info3
{
	background-color: 		rgb(50, 52, 56);
	margin: 				0px;
	margin-bottom: 			5px;
	border: 				1px;
	border-style: 			solid;
	border-color: 			rgb(72, 74, 78);
}

.infoTitre
{
	position: relative;
	background-color: 		rgb(42, 44, 48);
	margin: 				0px;
	border: 				0px;
	border-bottom: 			1px;
	border-color: 			rgb(32, 34, 38);
	border-style: 			solid;
	padding: 				10px;
	padding-top: 			11px;
	padding-left: 			15px;
	padding-right: 			15px;
	font-size: 				21px;
	font-family: 			'Roboto', Tahoma, Helvetica, Arial, sans-serif;
}

.infoBody
{
	margin: 				0px;
	border:					0px;
	padding: 				15px;

}

.terminal
{
	background-color: 		rgb(30, 32, 36);
	margin: 				0px;
	border: 				1px;
	border-color: 			rgb(72, 74, 78);
	border-style: 			solid;
	padding: 				3px;
	font-size: 				16px;
	color: 					rgb(150, 154, 160);
}

.divDirPath
{
	border-bottom: 			1px;
	border-bottom-style: 	solid;
	border-bottom-color: 	rgb(202, 96, 51);
	/*overflow: 			auto;*/
}

.dirPath
{
	width: 					100%;
	table-layout: 			fixed;
}

.tdDivDirPath
{
	margin-right: 			5px;
	overflow-x: 			scroll;
}

.listDir
{
	background-color: 		rgb(30, 32, 36);
	margin: 				0px;
	border: 				1px;
	border-color: 			rgb(72, 74, 78);
	border-style: 			solid;
	padding: 				3px;
	font-size: 				16px;
	color: 					rgb(150, 154, 160);
}

.listDirStart
{
	height:  				300px;
	overflow:  				auto;
}

.terminalOutput
{
	margin: 				0px;
	margin-bottom: 			0px;
	border: 				0px;
	border-bottom: 			1px;
	border-color: 			rgb(202,96,51);
	border-style: 			solid;
	padding: 				0px;
	min-height: 			300px;
	max-height: 			300px;
	font-family: 			'Open Sans', Tahoma, Helvetica, Arial, sans-serif;
	font-size: 				16px;
	overflow: 				auto;
}

.terminalInput
{
	margin: 				3px;
	margin-bottom: 			0px;
	border: 				0px;
	padding: 				0px;
	display: 				block;
}

.terminalInput2
{
	margin: 				0px;
	border: 				0px;
	padding: 				3px;
	background-color: 		rgb(28, 30, 34);
	display:		 		block;
	font-size: 				16px;
	width: 					100%;
	color: 					rgb(150, 154, 160);
	transform: 				translateX(-4px);
	font-family: 			'Open Sans', Tahoma, Helvetica, Arial, sans-serif;
}

.terminalInput2:focus
{
	outline: 				none;
}

@media all and (min-width: 800px)
{
	.info2
	{

	}
	.info3
	{
		max-width: 850px;
		margin-left: auto;
		margin-right: auto;

	}
}
